body{font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu; font-size: 12px;}
.ims-content-panel-container{ margin: 10px auto; padding: 10px; }
.ims-content-panel{ width: auto; height: auto;}
.ims-layout-content-panel{float: left;margin-right: 10px;margin-bottom: 20px;}












<!-- common -->
.clear{ clear: both; position: absolute;}
.border-color-red{  border: 1px solid red; }
.border-clor-blue{ border:1px solid blue; }